.dash_servico_section_2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dash_servico_servico_pai {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.dash_servico_servico_util {
    display: flex;
    flex-direction: column;
    /* min-height: 390px; */
    gap: 16px;
    padding:32px;
    height: 377px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.dash_servico_servico {
    max-width: 361px;
    max-height: 427px;
    width: 100%;
    height: 100%;
    background-color: var(--rosa-4);
    border-radius: 16px;
}

.dash_servico_servico_button {
    display: flex;
    height: 50px;
}

.branco{
    color: white;
}

.dash_servico_servico_nome {
    max-width: 361px;
    max-height: 70px;
    width: 100%;
    height: 65.6px;
    background-color: var(--marrom-1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
    padding: 16px;
}

.dash_servico_servico_descricao {
  max-height: 120px;
  height: auto;
  overflow: auto; /* cria scrollbar se o conteúdo ultrapassar 120px */
  box-sizing: border-box;
  padding-right: 8px; /* espaço para a scrollbar não sobrepor o texto */
  word-break: break-word;
}

.dash_servico_servico_info_filho {
    display: flex;
    gap: 5px;
}

.dash_servico_servico_info_filho_grupo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* margin-top: 16px; */
}

.dash_servico_servico_separar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.dash_servico_servico_info_filho_descricao {
    display: flex;
    flex-direction: column;
    max-height: 120px;
    height: 120px;
    justify-content: start;
    align-items: start;
}

.profissionais-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.profissional-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.2s;
}

.profissional-item.selected {
  background-color: var(--rosa-2);
  border-color: var(--rosa-1);
  margin-bottom: 50px;
  padding: 12px 10px 12px 10px
}

.profissional-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}



/*  Estilos para o input de upload de arquivo customizado */

.file-upload-label {
  display: block;
  cursor: pointer;
}

.custom-file-button {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Isso empurra o ícone para a direita */
  gap: 10px;
  padding: 8px 16px;
  border: 1px solid var(--rosa-2);
  border-radius: 32px;
  background-color: var(--rosa-2);
}

.upload-icon {
  width: 24px;
  height: 24px;
}